@font-face {
    font-family: raleway-regular;
    src: url(../fonts/raleway-regular.ttf);
}

@font-face {
    font-family: raleway-medium;
    src: url(../fonts/raleway-medium.ttf);
}

@font-face {
    font-family: raleway-extrabold;
    src: url(../fonts/raleway-extrabold.ttf);
}

@font-face {
    font-family: raleway-semibold;
    src: url(../fonts/raleway-semibold.ttf);
}

@font-face {
    font-family: montserrat-light;
    src: url(../fonts/montserrat-light.ttf);
}

body {
	font-family: montserrat-light;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

.header {
	background: url(../img/header-bg.jpg) no-repeat center #555556;
	background-size: cover;
}

.container {
	width: 1230px;
	margin: 0 auto;
	padding: 40px 30px;
	box-sizing: border-box;
}

.flex-container {
	display: flex;
}

.logo_svg {
	fill: #fff;
}

.logo_svg:hover {
	fill: #ccc;
}

.logo_name {
	font-family: raleway-regular;
	color: #fff;
	font-size: 34px;
    margin: 8px 0 0;
    padding: 0 219px 0 0;
}

.menu {
    margin: 5px 0 0;
}

.menu_list {
	list-style-type: none;
	display: flex;
    padding: 0;
}

.menu_list_link {
	text-decoration: none;
	font-size: 14px;
	color: #fff;
    margin: 0 25px 0 0;
    text-transform: capitalize;
}

.menu_list_link:hover {
	color: #c7b299;
}

.menu_list_link:active {
	color: #c7b299;
}

.cart_button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0 0 38px;
    height: 100%;
}

.cart_button_svg {
	fill: #dedede;
}

.cart_button_svg:hover {
	fill: #c7b299;
}

.search_form {
	height: 100%;
    padding: 15px 0 0 27px;
}

.search_button {
	background: url(../img/search-button.png) no-repeat;
	border: none;
	color: transparent;
    padding: 0;
    outline: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    -webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

.offer {
	color: #fff;
	margin: 280px 0 0;
	text-align: center;
	display: flex;
	position: relative;
}

.arrow_left {
	background-image: url(../img/left.png);
	width: 40px;
	height: 73px;
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 100px;
    left: -65px;
}

.offer_center {
	margin: 0 auto;
}

.arrow_right {
	background-image: url(../img/right.png);
	width: 40px;
	height: 73px;
	border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 100px;
    right: -65px;
}

.offer_title {
	font-family: raleway-medium;
	font-size: 36px;
    padding: 0 0 5px 0;
}

.main_offer_title {
	font-family: raleway-extrabold;
	font-size: 52px;
	padding: 0 0 10px 0;
}

.offer_text {
	font-size: 16px;
	width: 570px;
    margin: 0 auto;
    line-height: 1.5em;
   	padding: 0 0 50px 0;
}

.offer_button {
	display: block;
	font-family: raleway-extrabold;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
    text-transform: uppercase;
    background: #998675;
    width: 170px;
    padding: 17px 0;
    margin: 0 auto 325px;
    border-radius: 5px;
    border-bottom: 3px solid #736357;
}


.offer_button:hover {
    background: #736357;
}

.offer_button:active {
    background: #fff;
    color: #736357;
    border-bottom: 3px solid #fff;
}

.pagination {
	display: flex;
	margin: 0 auto;
	justify-content: center;
}

.pagination_link {
	text-decoration: none;
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #979594;
    margin: 0 10px 0 0;
    border: 2px solid transparent;
}

.pagination_link:hover {
	border-color: #fff;
	background: transparent;
}

/* Вторая секция */

.features > .container {
	display: flex;
}

.features {
    padding: 49px 0 40px 0;
}

.features_item:after {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	background: #f1eee9;
	margin: 30px 110px 0;
}

.features_item:hover:after {
	background: #c7b299;
}

.features_item:hover .features_item_span{
	color: #c7b299;
}

.features_item:hover .features_svg{
	fill: #c7b299;
}

.features_item_span {
	display: block;
	font-family: raleway-semibold;
	font-size: 22px;
	color: #555;
	text-align: center;
	padding: 25px 0 16px 0;
}

.features_svg {
	fill: #555;
    display: block;
    margin: 0 auto;
}

.features_item_text {
	text-align: center;
	color: #8c8c8c;
	font-size: 14px;
	line-height: 1.714em;
}


/* Третья секция */

.examples {
	background: #fbfaf8;
}

.examples_title {
	font-family: raleway-semibold;
	font-size: 30px;
	color: #555;
	text-align: center;
	padding: 40px 0 30px 0;
}

.examples_text {
	text-align: center;
	font-size: 16px;
	color: #8c8c8c;
	line-height: 1.75em;
    width: 720px;
    display: block;
    margin: 0 auto;
    padding: 0px 0 7px 0;
}

.examples_bg {
	background-image: url(../img/bg-center.jpg), url(../img/bg-left.jpg), url(../img/bg-right.jpg);
	min-height: 482px;
    background-repeat: no-repeat;
    background-position: bottom center, bottom left, bottom right;
    background-size: 62.6%
}
